*{
    margin: 0;
    padding:0;
}
h2{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
a{
    display: inline-block;
    text-decoration: none;
    color:#000;
    font-weight: bold;
}
ul{
    list-style: none;
    display: inline-block;
}
input{
    border: 0;
    vertical-align: top;
    outline: none;
}
.head{
    z-index: 100;
    width: 100%;
    position: fixed;
    left:0;
    top:0;
    opacity: 0.95;
}
.head .warp{
    background-color: white;
}
.banner{
    width: 1060px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
}
.head .left{
    display: inline-block;
    width:80px;
    height:30px;
    background: url("../images/icon.png") no-repeat;
    vertical-align: middle;
}
.head .right{
    line-height: 60px;
    float: right;
}
.head .right ul li{
    display: inline-block;
    margin-right: 70px;
}
.head .banner .rInput{
    display: inline-block;
    position: relative;
}
input[type=text]{
    padding: 5px;
    width: 140px;
    height: 20px;
    border: 1px solid #b6beda;
    border-radius: 5px;
    vertical-align: middle;
}
input[type=button]{
    width: 22px;
    height: 22px;
    position: absolute;
    right:7px;
    top: 25px;
    background: url("../images/icon.png") no-repeat -46px -34px;
    cursor: pointer;
}
.banner .right .list{
    display: none;
    position: absolute;
    top: 58px;
    left: 0;
    padding: 15px 115px;
    width: 100%;
    border-top: 2px solid #ccc;
    background-color: #FFFFFF;
}
.banner .right .list a{
    width: 200px;
    height: 80px;
}
.banner .right .list1,.banner .right .list2,.banner .right .list4{
    height: 45px;
    line-height: 45px;
}
.banner .right .list3{
    height:155px;
}
.banner .right .li:hover>a{
    color: #ff1010;
}
.banner .right .li:hover .list{
    display: block
}
.banner .right .list a em{
    display: inline-block;
    width:50px;
    height:50px;
    background: url("../images/nav_icon.png") no-repeat;
    float: left;
    margin-right: 10px;
}
.banner .right .list1 .a1 em{
    background-position: -155px -1px;
}
.banner .right .list1 .a2 em{
    background-position: -104px 0;
}
.banner .right .list1 .a3 em{
    background-position: -50px -1px;
}
.banner .right .list2 .a1 em{
    background-position: -260px -1px;
}
.banner .right .list2 .a2 em{
    background-position: -363px -1px;
}
.banner .right .list2 .a3 em{
    background-position: -415px -1px;
}
.banner .right .list3 .a1 em{
    background-position: -155px -208px;
}
.banner .right .list3 .a2 em{
    background-position: 0 -104px;
}
.banner .right .list3 .a3 em{
    background-position: -52px -104px;
}
.banner .right .list3 .a4 em{
    background-position: -104px -104px;
}
.banner .right .list3 .a5 em{
    background-position: -468px -104px;
}
.banner .right .list3 .a6 em{
    background-position: 0 -208px;
}
.banner .right .list3 .a7 em{
    background-position: -52px -208px;
}
.banner .right .list3 .a8 em{
    background-position: -468px 0;
}
.banner .right .list3 .a9 em{
    background-position: -104px -208px;
}
.banner .right .list3 .a10 em{
     background-position: -156px -104px;
 }
.banner .right .list4 .a1 em{
    background-position: -207px 0;
}
.banner .right .list4 .a2 em{
    background-position: -104px -104px;
}
.banner .right .list4 .a3 em{
    background-position: -260px -104px;
}
.banner .right .list4 .a4 em{
    background-position: -311px -104px;
}


.banner .right .list1 .a1:hover em{
    background-position:-155px -53px;
}
.banner .right .list1 .a2:hover em{
    background-position:-104px -52px;
}
.banner .right .list1 .a3:hover em{
    background-position:-50px -53px;
}
.banner .right .list1 .a4:hover em{
    background-position:0 -52px;
}
.banner .right .list2 .a1:hover em{
    background-position: -260px -53px;
}
.banner .right .list2 .a2:hover em{
    background-position: -363px -53px;
}
.banner .right .list2 .a3:hover em{
    background-position: -415px -53px;
}
.banner .right .list3 .a1:hover em{
    background-position: -155px -260px
}
.banner .right .list3 .a2:hover em{
    background-position: 0 -156px;
}
.banner .right .list3 .a3:hover em{
    background-position: -52px -156px;
}
.banner .right .list3 .a4:hover em{
    background-position: -104px -156px;
}
.banner .right .list3 .a5:hover em{
    background-position: -468px -156px;
}
.banner .right .list3 .a6:hover em{
    background-position: 0 -260px;
}
.banner .right .list3 .a7:hover em{
    background-position: -52px -260px;
}
.banner .right .list3 .a8:hover em{
    background-position: -468px -52px;
}
.banner .right .list3 .a9:hover em{
    background-position: -104px -260px;
}
.banner .right .list3 .a10:hover em{
    background-position: -156px -156px;
}
.banner .right .list4 .a1:hover em{
    background-position: -207px -52px;
}
.banner .right .list4 .a2:hover em{
    background-position: -104px -156px;
}
.banner .right .list4 .a3:hover em{
     background-position: -260px -156px;
 }
.banner .right .list4 .a4:hover em{
      background-position: -311px -156px;
  }
.banner .right .list span{
    color: #000;
    font-size: 14px;
    float: left;
}
.middle{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: url("../images/default.gif") no-repeat center #cccccc;
}
.middleInner{
    width: 2000px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;

}
.middleInner div{
    width: 2000px;
    height: 600px;
    float: left;
}
.middleInner div img{
    width: 100%;
    height: 100%;
    border: none;
    vertical-align:middle;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
}
.middle .focus{
    list-style: none;
    position: absolute;
    right: 50%;
    bottom: 20px;
}
.middle .focus li{
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
    float: left;
}
.middle .left,.middle .right{
    width: 30px;
    height: 40px;
    top:50%;
    margin-top: -20px;
    position: absolute;
    background: url("../images/icon.png") no-repeat;
    opacity: 0.6;
}
.middle .left{
    left: 200px;
    background-position: -52px -58px;
}
.middle .right{
    right: 200px;
    background-position: -22px -58px;
}
.middle .focus .bg{
    background: #fff;
}
.box{
    width: 100%;
    height: 170px;
    padding: 50px 0;
    border-bottom: 2px solid #CCCCCC;
}
.box .ul{
    width: 1354px;
    height: 170px;
}
.box .ul li{
    padding: 0 20px;
    width: 295px;
    float: left;
}
.box .ul li>span .a{
    display:inline-block;
    width: 94px;
    height: 94px;
    background:url("../images/nav_icon.png")no-repeat #CCCCCC;
    vertical-align:middle;
    border-radius: 50%;
}
.box .ul li .span{
    float: right;
}
.box .ul li .span h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #cfccd2;
}
.box .ul li .span p{
    display: inline-block;
    width: 180px;
    font-size: 14px;
    font-weight:normal;
    color: #cfccd2;
}
.box .ul li span .a1{
    background-position:-129px -382px;
}
.box .ul li span .a2{
    background-position:-317px -382px;
}
.box .ul li span .a3{
    background-position:-411px -382px;
}
.box .ul li span .a4{
    background-position:-223px -382px;
}

.box  .ul li:hover span .a1{
    background-position:-129px -476px;
}
.box  .ul li:hover span .a2{
    background-position:-317px -476px;
}
.box  .ul li:hover span .a3{
    background-position:-411px -476px;
}
.box  .ul li:hover span .a4{
    background-position:-223px -476px;
}

.box .ul li:hover h2{
    color:#ff1010;
}
.foot{
    width: 1242px;
    height: 72px;
    line-height: 72px;
    margin-top: 28px;
    padding-left: 108px;
}
.foot .uLeft li,.foot .uLeft li a{
    float: left;
    margin-right: 22px;
    font-size: 12px;
    color: #b6beda;
}
.foot .uRight{
    padding-right:20px;
    float: right;
}
.foot .uRight li{
    float: left;
    margin-right: 10px;
}
.foot .uRight li span{
    margin-left:10px;
    color: #b6beda;
}
.foot .uLeft .em1{
    display: inline-block;
    width:15px;
    height:19px;
    background: url("../images/icon.png") no-repeat -168px 0;
    vertical-align: middle;
    margin-right: 3px;
}
.foot .uLeft .em2{
    display: inline-block;
    width: 77px;
    height: 30px;
    background: url("../images/icon.png") no-repeat -86px 0;
    vertical-align: middle;
}
.foot .uRight a{
    font-size: 14px;
    font-weight: normal;
    color: #b6beda;
}
.foot .uRight .li a{
    font-weight: bold;
    color: #000;
}






